.concrete {
    background-color: #95a5a6
}

.clouds {
    background-color: #ecf0f1
}

.silver {
    background-color: #bdc3c7
}

.asbestos {
    background-color: #7f8c8d
}

.grey {
    background-color: #9E9E9E
}

.grey900 {
    background-color: #212121
}

.grey800 {
    background-color: #424242
}

.wrapper {
    padding-top: 20px;
}